@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../public/fonts.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* font-family: "dg1"; */
    background-color: #1F1D28;
}
.not-empty {
  border: 1px solid #10B981;
  outline-color: #10B981; /* Your desired green color */
}
.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 15px;
  border: solid #478558;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}